body{
    background-color: rgb(14,26,45);
}
.equilibrium_main-container{
    box-shadow: 0px 24px 16px 22px rgb(10, 22, 46);
    -webkit-box-shadow: 0px 24px 16px 22px rgb(10, 22, 46);
    -moz-box-shadow: 0px 24px 16px 22px rgb(10,22,46);
    background-color: rgb(21,39,63);
    width: 19rem;
    margin: 11rem auto;
    height: 36rem;
    box-shadow: 100px rgba(23, 6, 61, 0.863);
    border-radius: 18px;
    padding: 23px;
}

.equilibrium_main-image{
    background-image: url("./images/image-equilibrium.jpg");
    background-position: 50%;
    background-size: 110%;
    height: 19rem;
    border-radius: 18px;
    margin: auto;
}

.equilibrium_main-heading{
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.equilibrium_main-content{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(203, 196, 218, 0.822);
}

.equilibrium_main-border{
    border: 1px solid lightgray;
}

.equilibrium-price-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.price-main{
    display: flex;
    align-items: center;
}

.price{
    margin-left: 10px;
    color: rgb(94,247,243);
    text-transform: uppercase;
}

.days-main{
    display: flex;
    align-items: center;
}

.days{
    margin-left: 10px;
    color: rgb(140,168,212);
}

.equilibrium-footer{
    padding: 10px 0 10px 0;
}

.equilibrium-footer-wrapper{
    display: flex;
    align-items: center;
}

.footer-avatar{
    height: 30px;
    width: 30px;
    border: 1px solid lightgray;
    border-radius: 50%;
    background-image: url('./images/image-avatar.png');
    background-size: 30px;
    margin-right: 10px;
}

.footer-text{
    color: rgb(140,168,212);
}